{% for weddings_project in weddings %}
    <div class="col-md-4 col-ms-6" class="toggle-content" >
                                        
        <div class="g-item" >
                                            
            <img class="image" src="{{ weddings_project.upload_image.url }}" alt="" >
            <a data-rel="lightbox" class="overlay" href="{{ weddings_project.upload_image.url }}">
                <span>+</span>
            </a>
                                            
        </div> <!-- /.g-item -->
                                                        
    </div> <!-- /.col-md-4 -->
{% endfor %}