{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title> GT_Photography </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <script src="{% static 'js/GalleryDropDown.js' %}"></script>
  <script src="{% static 'js/ContactDropDown.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/blog_index.css' %}">
</head>

<body>
  <header>
    
    <div class="header">
      <img id="logo" src="{% static 'image/GT_LOGO.jpg' %}">
      <h2 id="web_name">
         <span id="web_name1" >G</span><span id="web_name2">T</span>
         <span id="web_name3">Photo</span><span id="web_name4">graphy</span>
      </h2>
    </div>

  </header>

  <nav id="nav">
    <div id="navContainer">
      <div class="navbar">
        <a href="{% url 'blog_index'%}">
          Home
        </a>
        
        <div class="dropdown">
          <button class="dropbtn" onclick="GalleryDropDown()">Gallery</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="{% url 'portrait_index'%}">Portrait</a>
            <a href="{% url 'weddings_index'%}">Weddings</a>
            <a href="{% url 'brand_index'%}">Brand</a>
          </div>
        </div>
      </div>
      

      <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn" onclick="ContactDropDown()" >Contact</button>
        
          <a href="{% url 'company_index' %}" style="margin-left: -4px; margin-bottom: -2px;">About</a>
        <div>
    </div>

    
  <div id="contact">
    <div id="contact_Dropdown" class="dropdown-content1">
        <h2 style="text-align: center; border: 2px solid white;">contacts</h2>
          
        {% for contact in contacts %} 
          
          <p ><b>Phone: </b>{{ contact.Phone }}</p>
          <p><b>Email: </b>{{ contact.Email }}</p>

            
          <h3 style="text-align: center; border: 2px solid white;" >Our Social Networks</h3>
              
          <div>
            <a href="" class="social">
              <img src="{% static 'icons/facebook.png' %}" width="32" alt="Facebook">
            </a>

            <a href="" class="social">
              <img src="{% static 'icons/twitter.png' %}" width="32" alt="Twitter">
            </a>

            <a href="" class="social">
              <img src="{% static 'icons/linkedin.png' %}" width="32" alt="LinkedIn">
            </a>

            <a href="" class="social">
              <img src="{% static 'icons/rss.png' %}" width="32" alt="RSS Feed">
            </a>
          </div>

          <p>........................................................................</p>
          
        {% endfor %}
      </div>

    </div>
  </nav>

    

    <section id="section">
      <small style="float: right; color: #f2f2f2; margin: 2px;">
          {{ post.created_on.date }}:
        </small>
      <div id="each_post-flex-container" style="background-color: #f2f2f2; width: 90%;">  
        <h2 class="title"  >
          <a class="centerTitle" class="centerText" href="{% url 'blog_category' post.pk %}">
            {{post.title}}
          </a>
        </h2>

        <div id="image_wraper" >  
          <div target="_blank" href="{{ post.upload_image.url }}">
              <img id="image" src="{{ post.upload_image.url }}" alt=""  >
              <p id="description">
                {{ post.description }}
              </p>
            </div>
        </div>

        <div id="commentBox">
          <h3 style=" margin-left: 5px;">Leave a comment:</h3>
          <form action="/blog/{{post.pk}}/" method="post">
              {% csrf_token %}

              <div style=" margin-left: 5px;" >
                {{ form.author}}
              </div>

              <div id="comment" style="margin-top: 5px; width: 30px;" >
                {{ form.body }}
              </div>

              <button type="submit" class= "submit_btn" style="	padding: 5px; margin-left: 5px;" >
                submit
              </button>
            </form>
        </div>
          
        {{ post.body | linebreaks }}
          
        <h3 style="border: 2px solid black;">comments:</h3>

        {% for comment in numbers %}
        <div>
          <p style="color: darkblue;">
            on{{comment.created_on.date }}&nbsp;
                  
            <b style="color: black;">{{ comment.author }}</b> wrote:
          </p>
          <p>{{ comment.body }}<hr></p>
        </div>
        {% endfor %}
      </div>
              
      <div class="extra">
        {% if numbers.has_next %}
            
          <a  class="infinite-more-link" href="?page={{ numbers.next_page_number }}" style="text-decoration: none; ">
          see more comments
          </a>
            
        {% endif %}
      </div>
    </section>

    <footer>
      <div class="footer">
        <div class="footer_container">
  
          <div >
            <div class="">
              <div class="footer-copyright">&copy; 2020  <a>Shoot with GT</a>.</div>
            </div>
          </div>
      
        </div>
      </div>
    </footer>
  </body>
</html>
{% endblock %}
