

/*
for the white color use #f2f2f2
for the orange color use #be7423
for the  black color use black
*/
body{
	background-color:#f2f2f2;
	width:100%;
	font-family: Arial;
 	margin: 0;
}


/*header*/
.header {
	display:flex;
	align-items: center;
	padding: 20px;
	background: #1abc9c;
	color: white;
	background-color:#080808;
	border-bottom:2px solid #f2f2f2;
	height:160px;
	
}
#logo{
	display: flex;
	width: 130px;
	height:145px;
}
#web_name{
	display: inline;
	padding-top: 35px;
}
#web_name1{
	color: #be7423;
}
#web_name2{
	color: #ece5e5;
}
#web_name3{
	color: #ece5e5;
	
}
#web_name4{
	color: #be7423;

}


/*nav*/
#nav{
	position: -webkit-sticky; /* Safari */
 	position: sticky;
  	top: 0;
}
.navbar {
	display: flex;
	align-items: flex-start;
	
	
}
.navbar a {
	width: 100%;
	background-color: #080808;
	text-decoration: none;
	color:#f2f2f2;
	padding: 8px;
	text-align: center;
	border-radius: 7px;
	border: 2px solid #be7423;
}
.navbar a:hover:hover{
	color:#080808;
	text-decoration:none;
	background-color:#f2f2f2;
	font-family:Nirmala UI Regular;
	font-weight:bold;
	border: 2px solid #080808;
}
.navbar a:hover:active{
	box-shadow:black 3px 3px 3px inset;
	color:#be7423;
	text-decoration:none;
	background-color:#f2f2f2;
	font-family:Nirmala UI Regular;
	font-weight:bold;
}
#navContainer{
	display: flex;
	justify-content: space-between;
}

.dropdown {
	background-color: #080808;
	
	text-align: center;
	border-radius: 7px;
	color:#f2f2f2;
	font-family:Nirmala UI Regular;
	font-weight:bold;
}
.dropdown:hover {
	background-color: #f2f2f2;
	text-decoration: none;
	text-align: center;
	border-radius: 7px;
	color: #080808;
	font-family:Nirmala UI Regular;
	font-weight:bold;
	border: 2px solid #080808;
}
.dropdown-content {
	display: none;
	position: absolute;
}
.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	text-align: center;
	border-radius: 7px;
	color:#080808;
	font-family:Nirmala UI Regular;
	font-weight:bold;
	
}
.dropbtn{
	text-align: center;
	border-radius: 7px;
	color:#f2f2f2;
	font-family:Nirmala UI Regular;
	font-weight:bold;
	padding: 9px;
	background-color: #080808;
	border: 2px solid #be7423;
}
.dropbtn:hover {
	background-color: #fefefe;
	text-decoration: none;
	text-align: center;
	border-radius: 7px;
	color:#080808;
	font-family:Nirmala UI Regular;
	font-weight:bold;
	border: 2px solid #080808;
}


/*section*/
#section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #080808;
}
.image{
	
	max-width: 100%;
	max-height: 100%;
	border-radius: 20px;
	padding: 3px;
	border-top:5px solid #080808;
	
}
.image:hover{
	border-top:5px solid #f2f2f2;
}
#gallery-flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}  
.flex-box{
	display: flex;
	background-color: #424242;
	width: 30%;
	padding: 10px;
	border: 1px solid #f2f2f2;
	border-radius: 15px;
	background-color: #dddddd;
	justify-content: center;
	align-items: center;
}
.flex-box:hover{
	border: 1px solid black;
	border-radius: 15px;
	background-color: #be7423;
}
.extra{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
}	
.extra a{
	margin-top: 10px;
	display: flex;
	background-color: #080808;
	color: #f2f2f2;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
	border-radius: 7px;
	border: 2px solid #f2f2f2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.extra a:hover{
	background-color: #f2f2f2;
	color: #080808;
	border: 3px solid #080808;
}


/*footer*/
footer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #080808;
}
.footer{
	width: 96%;
	background: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}
.footer-copyright {
	text-align: center;
	color: #7C7C7C;
	border-top: 1px dotted #7C7C7C;
	padding-top: 10px;
	font-size: 0.9em;
}
.footer_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
}
.footer_con{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5px;
	background-color: #be7423;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contact{
	font-family: Arial;
}
.social{
	font-family: Arial;
}
.about{
	font-family: Arial;
}