{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title> GT_Photography </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <script src="{% static 'js/GalleryDropDown.js' %}"></script>
  <script src="{% static 'js/ContactDropDown.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/about_index.css' %}">
</head>

<body>
  {%include 'header.html' %}

  {%include 'nav.html' %}

  <section  id="section">
    <div id="about-container">
      <h2>About Photographer</h2>

      <div id="photographer">
        {% for about_photographer in About_Photographer %} 
            
			<div  id="image_wraper">
			  <img src="{{ about_photographer.photographers_image.url }}" id="image"   width="300px">
			  <p id="about_photographer">   {{ about_photographer.about }}</p>
			</div>

 
        {% endfor %}
      </div>
      

      <h2>About Company</h2>
      
      {% for about_company in About_Company %} 
        <p id="about_company">{{ about_company.about }}</p>
      {% endfor %}
    </div>
  </section>          

  <footer>
    <div class="footer">
      <div class="footer_container">

        <div >
          <div class="">
            <div class="footer-copyright">&copy; 2020  <a>Shoot with GT</a>.</div>
          </div>
        </div>
    
      </div>
    </div>
  </footer>  

</body>
</html>
{% endblock %}