/*
for the white color use #f2f2f2
for the orange color use #be7423
for the  black color use black
*/
footer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer {
	width: 96%;
	background: #222;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
  }
 
  
.footer-copyright {
	text-align: center;
	color: #7C7C7C;
	border-top: 1px dotted #7C7C7C;
	padding-top: 10px;
	font-size: 0.9em;
}
.footer_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
}
.footer_con{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px;
	background-color: #be7423;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contact{
	font-family: Arial;
}
.social{
	font-family: Arial;
}
.about{
	font-family: Arial;
}