/*
for the white color use #f2f2f2
for the orange color use #be7423
for the  black color use black
*/
#section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.image{
	
	max-width: 70%;

	border-radius: 20px;
	padding: 3px;
	border-top:5px solid #424242;
	
}
.image:hover{
	border-top:5px solid #f2f2f2;
}
#post-flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
} 
#each_post-flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}  
.flex-box{
	display: flex;
	background-color: #424242;
	width: 90%;
	padding: 10px;
	border: 1px solid #f2f2f2;
	border-radius: 15px;
	background-color: #dddddd;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
}
.image_wraper{
	display: flex;
	border-radius: 7px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.image_wraper:hover{
	background-color: #be7423;
	padding: 10px;
}
.image_wraper a{
	display: flex;
	border-radius: 7px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.centerTitle{
	text-decoration: none;
	color: darkblue;
	font-family:Nirmala UI Regular;
	font-weight:bold;
	margin: 3px;
}
#commentBox{
	width: 100%;
	float: left;
}
.submit_btn{
	text-align: center;
	border-radius: 7px;
	color:#fad8b5;
	font-family:Nirmala UI Regular;
	font-weight:bold;
	padding: 9px;
	background-color: #be7423;
	border: 3px solid #fad8b5;
}
.submit_btn:hover{
	background-color: #fad8b5;
	text-decoration: none;
	text-align: center;
	border-radius: 7px;
	color:#be7423;
	font-family:Nirmala UI Regular;
	font-weight:bold;
	border: 3px solid #be7423;
}
.description{
	font-family:Nirmala UI Regular;
	padding: 3px;
}
.extra{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
}	
.extra a{
	margin-top: 10px;
	display: flex;
	background-color: #be7423;
	color: #fad8b5;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
	border-radius: 7px;
	border: 3px solid #fad8b5;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.extra a:hover{
	background-color: #fad8b5;
	color: #be7423;
	border: 3px solid #be7423; 
	border: 3px solid #be7423;
}